 body {
	font-family: 'Cinzel', 'Open Sans', sans-serif;
	font: 1rem/1.5 var(--bs-font-sans-serif);
	background-color: white;
	color: #121214;
	color: #28246a;
	padding: 0;
	margin: 0;
	display: block;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}
.color{ color:#075091;}
.color {color:#28246a;}
.color {color: #120f35;}
.green {color:#65a548;} 
.silver { color: #b4b9bd; }
.black{ color:#121214; }
.white { color: whitesmoke;}
.bg-color {
	background-color:whitesmoke;
}

img {
	/* display: block; */
	max-width: 100%;
	max-height: 100%;
	height: auto;
}
.cursor-pointer{
	cursor: crosshair;
}
.ptb-40 { 
	padding-top: 40px;
	padding-bottom: 40px;
}
.p-lr{
	padding-left: 2rem;
	padding-right: 2rem;
}
.m-lr {
	margin-left: 40px;
	margin-right:40px;	
}
hr {
	margin: 10px 0;
	border-top: 3px solid #aaadae;
	opacity: 1;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}
/****   navbar   ***/
.top-blue {
	width: 100%;
	height: 5rem;
	background-color: #28246a;
	background-color: #120f35;
	
	color: whitesmoke;
}
.top-contact a {
	color: whitesmoke;
	text-decoration: none;
	padding-right: 30px;
}
.top-contact a:hover {
	color: whitesmoke;
	text-decoration: underline;
}
.btn-secondary {
	--bs-btn-color: #fff;
	--bs-btn-bg: #aaadae;
}
.bg-light {
	background-color: white;
}
.navbar {
	margin-top: 3rem;
	padding: 0rem;
}
.navbar-brand {
	max-width: 60%;
}
.sm-brand {
	font-size: (--bs-navbar-brand-font-size);
	font-size: small;
	text-align: center;
}
.nav {
	padding-right: 0.5rem;
}	
.navbar-toggler {
	padding: 0.2rem;
}
.navbar-toggler-icon {
	border-radius: none;
}
.nav li a {
	 color: #28246a;
	 font-weight:400; 
}
.nav-link {
	color: #075091;
	font-weight: 600;
	padding-bottom: 0rem;

}
.nav-link:focus, .nav-link:hover {
    color: #121214;
}
.nav-pills .nav-link {
    background: 0 0;
    border: 0;
    border-radius: 0.5rem;
    /* font-size: large; */
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #357f12;
    background-color: whitesmoke;
}
.navbar-brand a:hover, .nav-pills .nav-link a:hover {
	    color:#075091;
}

/**** page section  ****/
.page-wrap {
	position: relative;
	display: block;
	margin-top: 110px;
	justify-content: center;
	align-items: center;
	height: 100%;
	overflow-x: hidden;
	}

.home-bg {
    background-image: url("img/chgo-05.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
}
.home-statement {
	margin: 0 7%;
	padding: 5rem 7% 3rem;
	font-weight: 400;
	font-size: large;
	color: white;
	background-color: #120f355f;
	
}
.page-section {
	padding-top: 200px;
	padding-bottom: 70px;
}
.container-fluid {
	--bs-gutter-x: 0; 
}
.section-title {
	font-family: 'Cinzel', sans-serif;
	color: #28246a;
	font-weight: 700;
	letter-spacing: 3px;
	text-align: center;
}
.contact-statement {
	margin: 0 10%;
	/* padding: 2rem 8% 5rem; */
	font-weight: 400;
	font-size: large;
	color: white;
	/* background-color: #07519157; */
	/* background-color: #687c8f3f; */
}
.address .section-title {
	color: whitesmoke;
}
.page-heading {
	font-family: 'Cinzel', sans-serif;
	letter-spacing: 4px;
	text-align: center;	
}
.sub-heading{
	letter-spacing: 4px;
	text-align: center;
	/* line-height: 40px; */
	font-weight: 400;
	color: #28246a;
}
 .link-title { 
	 font-size: 1.5rem;
	 line-height: 1.4;
	text-align: center;
 }
 .center-img {
	display: flex;
	justify-content: center;
 }
/***** contact   *****/
.contact-bg {
    background-image: url(img/court-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   background-attachment: fixed;
    background-color: transparent !important;
     width: auto; 
    max-width: 100%;
     height: 100%;
    min-height: inherit; 
}
.address {
	padding: 180px 0 500px;
}
.address a:hover {
	color: #888888;
}
html.opacity:hover img {
	opacity: 1;
}
.btn-success a:active { 
	color: white;
}
.section, img, .btn:hover  {
	-webkit-transition: all 350ms ease-in-out 0s;
	transition: all 350ms ease-in-out 0s;
}

 /*Small devices (landscape phones, 576px and up)*/
@media screen and(min-width: 576px) { 
	body {
			padding-top: 140px;
		}
		.navbar-brand {
			padding-left: 0.2rem;
		}
		.navbar-brand {
			font-size: 30px;
		}
		.sm-brand {
			font-size: 1rem;
		}
}

 /* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
		.page-section {
			padding-top: 120px;
		}
		.navbar-brand {
			max-width: 23%;
		}
		.home-statement {
			margin: 0 7%;
			padding: 17rem 20% 7rem;
		}
		.nav-pills .nav-link {
			font-size: medium;
		}
 }

/* Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {... }*/

a {
	color: #28246a;
}
a:hover {
	color: #0b092d;
}